<h1>ここはトップページです。</h1>
<h1>環境に優しいコーヒーの情報をみんなで共有しましょう！</h1>
<h3>公序良俗に反する投稿やコメントは管理者側で削除させていただくことがあります。</h3>
<h3>予め、ご理解のほどよろしくお願いします。</h3>



<%= link_to 'ゲストログイン（閲覧用）でお試し', users_guest_sign_in_path, method: :post %>